* {
    font-family: Helvetica, serif;
    background-color: black;
    color: seashell;
    margin: 0;
    padding: 0;
    opacity: 0.9;
}

nav {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid seashell;
    position: fixed;
    width: 100%;
    z-index: 1;
}

nav span img {
    height: 50px;
    padding: 8px 10px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li{
    list-style: none;
    padding: 13px;
    margin-right: 10px;
}

main {
   padding-top: 69px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

header {
    background-image: url('../img/img-mission-background.jpg');
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    max-width: 100%;
    height: 700px;
    display: block;

}

.container {
    max-width: 1200px;
    margin: 0 auto;
}


/* background-image: url('/assets/heroImg/hero.png');

max-width: 100%;
height: 520px;
display: block; */
